<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer>  -->
<section id="inicio" class="bg-img-reversi">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading reversi">REVERSI</h2>
              <h3 class="section-heading text-muted reversi-muted">Puebalo ahora mismo!!!</h3>
          </div>
      </div>
      <div class="row text-center bg-nosotros">
          <div class="col-md-6">
          
          </div>
          <div class="col-md-6">
              
          </div>          
      </div>
  </div>
</section>

<section id="inicio" class="bg-img-inicio">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">JUEGOS</h2>
          </div>
      </div>
      <div class="row text-center bg-nosotros">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-graduation-cap fa-stack-1x fa-inverse text-primary"></i>
              </span>
              <h4 class="service-heading juegos">Reversi</h4>
              <p class="text-muted aling-justify">Somos una empresa prestadora de servicios para incubación de huevos fértiles y procesamiento de aves,
                  entregando a nuestros clientes pollitos de un día de edad, aves procesadas y sus derivados con excelente
                  calidad mediante la aplicación del conocimiento y el mejor aprovechamiento de la tecnología de punta
                  vigente , comprometidos con la protección del medio ambiente y el bienestar de nuestros colaboradores,
                  cumpliendo la legislación y normas nacionales e internacionales vigentes.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-eye fa-stack-1x fa-inverse text-primary"></i>
              </span>
              <h4 class="service-heading">Visión</h4>
              <p class="text-muted aling-justify">Ser la mejor Empresa de Incubación y de procesamiento de Aves del País con base en nuestro talento humano
                  y su conocimiento, su bienestar , la tecnología, los logros zootécnicos y económicos y el mejoramiento
                  de nuestro medio ambiente y social.
              </p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-check-square-o fa-stack-1x fa-inverse text-primary"></i>
              </span>
              <h4 class="service-heading">Politica de Calidad</h4>
              <p class="text-muted aling-justify">Estamos comprometidos con la mejora continua de la eficacia del sistema de gestión de calidad y el cumplimiento
                  de la normatividad legal vigente. Nos apoyamos en recursos de infraestructura apropiados, talento
                  humano competente y comprometido, proveedores confiables para garantizar un excelente servicio de
                  incubación de huevos fértiles y sacrificio de aves que cumpla con los requisitos y expectativas de
                  nuestros clientes. Así mismo trabajamos para alcanzar la rentabilidad esperada por nuestros socios,
                  el bienestar de nuestros colaboradores y el sostenimiento medio ambiental. .
              </p>
          </div>
      </div>
  </div>
</section>