<nav id="mainNav" class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-primary mb-3">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-row d-flex">
        <a class="navbar-brand" href="" title="WebGames.com">WebGames.com</a>
    </div>
    <div class="navbar-collapse collapse justify-content-end" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/gameReversi" routerLinkActive="active">Juegos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="">Contactenos</a>
            </li>
        </ul>
    </div>
  </nav>

<header class="masthead" style="background-image: url('../../assets/images/games0.png')">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
            <h1>Web Games</h1>
            <span class="subheading">Aprovecha los nuevos estrenos gratis ya!!!</span>
            </div>
        </div>
        </div>
    </div>
</header>


